<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.vcrtcdemo">

    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activities.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.SettingActivity"
            android:configChanges="orientation|screenSize" />
        <activity android:name=".activities.LoginActivity" />
        <activity android:name=".activities.MyVideoActivity" />

        <activity
            android:name=".activities.CallIncomingActivity"
            android:theme="@style/Theme.VC.Fullscreen"/>

        <activity
            android:name=".activities.conference.VCVideoActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.VC.Fullscreen" />

        <activity
            android:name=".activities.conference.VCVideoP2PActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.VC.Fullscreen" />

        <activity
            android:name=".activities.conference.VCVideoSimulcastActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.VC.Fullscreen" />

        <activity
            android:name=".activities.conference.VCVideoShiTongActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.VC.Fullscreen" />

        <receiver android:name=".MyPushReceiver">
            <intent-filter>
                <action android:name="VCService.intent.action" />
            </intent-filter>
        </receiver>

    </application>

</manifest>